@model IEnumerable<BlogPostViewModel>

@{
    ViewBag.Title = "Blog Index";
}

<h2>Blog Posts</h2>

<div class="span8">
    <div id="blog-posts-container">
        @{Html.RenderPartial("_BlogPostsList", Model);}
    </div>

    <div class="load-more-form">
        @using (Ajax.BeginForm("GetPosts", "Home", new AjaxOptions
            {
                HttpMethod = "Get",
                InsertionMode = InsertionMode.InsertAfter,
                UpdateTargetId = "blog-posts-container",
                OnFailure = "blog.ajaxLoadPostsFailure",
                OnSuccess = "blog.ajaxLoadPostsSuccess"
            }))
        {
            @Html.Hidden("postsToSkip", "", new { id = "posts-to-skip" })
            <input type="submit" value="Load more" id="load-more-btn" />
        }

        @Html.Hidden("allPostsCount", (int?)ViewBag.AllPostsCount, new { id = "all-posts-count" })
    </div>

</div>

        
@section blogPostsScript {
    <script>
        var blog = {};

        (function () {

            function attachPostsEvents() {
                $(".show-recent-comments").on("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $(this).parent().next(".recent-comments").slideDown("slow", function () {
                        // Animation complete.
                    });
                });

                $(".recent-comments").on("mouseleave", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $(this).slideUp("slow", function () {
                        // Animation complete.
                    });
                });
            }
            attachPostsEvents();

            function onLoadMoreFailure(err) {
                if (err.statusText === 'No posts') {
                    $('#load-more-btn').hide();
                }
            }

            function onLoadMoreSuccess(success) {
                setNewPostsCount();
                attachPostsEvents();
            }

            blog.ajaxLoadPostsFailure = onLoadMoreFailure;
            blog.ajaxLoadPostsSuccess = onLoadMoreSuccess;

            function setNewPostsCount() {
                var postsCount = $('.blog-post-item').length;
                $('#posts-to-skip').val(postsCount);

                var allPostsCount = $('#all-posts-count').val();

                if (postsCount >= allPostsCount) {
                    $('#load-more-btn').hide();
                }

            }
            setNewPostsCount();
        })();
    </script>
}

