@model IEnumerable<BlogPostViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Search results for "@this.Request.Params["query"]"</h2>


        <div class="span8">
            <div class="row-fluid" id="blog-posts-container">
                @{Html.RenderPartial("_BlogPostsList", Model);}
            </div>

        </div>
