body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}

/* Custom pager styles */

.custom-pager {
    margin: 0;
    padding: 0;
}

.custom-pager-item {
    display: inline-block;
    padding: 3px 10px 3px 10px;
    border: 1px solid black;
    border-left: none;
    margin-right: -4px;
}

    .custom-pager-item:first-child {
        border-left: 1px solid black;
    }
    .custom-pager-item:hover {
        background: #d8d8d8;
    }

.custom-pager-selected {
    background: #5788CF;
}
.custom-pager-selected a {
    color: white;
}

/*--------------------*/